@tailwind base;
@tailwind components;
@tailwind utilities;

.sale{
  @apply absolute top-0 right-0 px-2 py-1 rounded-md bg-red-600 text-red-100
}
.btn{
  @apply py-2 w-full my-2 rounded-md border bg-white
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(0, 0, 0);
}
/* .active{
  @apply p-2 m-auto rounded-lg
} */
.active{
  color: white;
  background-color: #1ABC9C;
  margin: auto;
  padding: 5px 5px;
  border-radius: 7%;
}
/* ////////////////////navbar///////////////////// */
.navbar{
  background-color: #2C3E50;
  color: white;
}
.cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}
.text-bav ul li{
  font-weight: 700;
  font-size: 40px;
}
.navlinks ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;

}
.navlinks ul li {
  font-size: 20px;
  padding: 0 10px;
}

/* 
//////////////FOOTER//////////////////////////////////////// 
*/

.footer{
  background-color: #1A252F;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.copy{
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont-footer{
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 40px;
  color: white;
}
.col-footer{
  background-color: #2C3E50;
}
.copy{
  background-color: #1A252F;
  color: white;
  height: 100px;
}
.text-about{
  color: white;
  text-align: center;
  font-size: 45px;
  font-weight: 600;
}
.cont-about{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 30px 0;
}
.about-comp{
  background-color: #1ABC9C;
  color: white;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-port{
  text-align: center;
  margin: 30px 0;
  font-size: 40px;
  font-weight: 800;
  color: #2C3E50;
}
.portofolio{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0 ;
}
/*
////////////////contac////////////////
*/
.contact{
  margin: 90px 0;
}
.cont-contact{
  margin: auto;
 

}
.cont-contact h1{
  color: white;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}
.text-contact h1{
  color: #2C3E50;
}

.contact-section{
  padding: 10px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 20px auto;
}
.contact-section input{
  padding: 10px;
  border-width: 0 ;

}
.btnn{
  width: 10%;
  border: #1ABC9C;
  background-color:#1ABC9C;
  color: white;
  position: absolute;
  bottom: -40px;
  left: 20%;
  padding: 10PX;
  border-radius: 10px;
}
.framework{
  background-color: #1ABC9C;
  height: 100vh;
  color: white;
}
.text-frame{
  margin: 40px 0;
}
.text-frame h1 {
  font-size: 40px;
  font-weight: 600;
}
.cont-frame{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
} 
.text-frame i , .text-about i , .cont-text i , .text-port i{
  margin: 10px 0;
  font-size: 1.25rem;

}

.fontt i {
  padding: 10px;
  border: 1px white solid;
  font-size: 15px ;
  border-radius: 50%;

  margin: 10px 5px;
}